body {
    background-color: #e4e4e7;
}

.container {
    max-width: 90vw;
    margin: auto;
}

.header {
    background-color: #111111;
    color: #e4e4e7;
    text-align: center;
}

.header__brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__logo {
    width: 2.5rem;
    fill: #e4e4e7;
}

.header__title {
    font-size: 2.25rem;
    padding: 1rem .5rem;
    font-family: 'Abril Fatface', serif;
    color: #eea450;
}

.banner__image {
    display: block;
    width: 100%;
}

.barber {
    background-color: #252525;
    color: #e4e4e7;
    min-height: 65vh;
    padding: 1rem 0;
}

.barber__section {
    padding: 1rem 0;
}

.section__header {
    display: flex;
    align-items: center;
}

.section__icon {
    width: 2.5rem;
    padding: 0 1rem;
    fill: #eea450;
}

.section__title {
    font-size: large;
    font-weight: 600;
    color: #e4e4e7;
}

.section__text {
    padding: .5rem 1rem;
}

.footer {
    background-color: #252525;
    color: #e4e4e7;
    text-align: center;
    padding: 1rem 0;
}

.footer__text {
    font-size: medium;
    font-weight: 400;
}

.footer__copyright {
    font-size: small;
    font-weight: 400;
    margin-top: .5rem;
}

.div__agende {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.agende__button {
    background-color: #eea450;
    border: none;
    border-radius: 5%;
    padding: .5rem .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    color: #eee;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.popup__content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #111;
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#booking-form {
    display: flex;
    flex-direction: column;
}

#booking-form label {
    margin-bottom: 10px;
}

#booking-form select,
#booking-form button,
#booking-form input {
    margin-bottom: 15px;
}

.agende__button {
    background-color: #eea450;
    border: none;
    border-radius: 5%;
    padding: .5rem .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90vw;
    }

    .section__title {
        font-size: 1.5rem;
    }

    .section__text {
        padding: 1rem 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }

    .header__logo {
        width: 3rem;
    }

    .section__title {
        font-size: 2rem;
    }

    .section__text {
        padding: 1rem 2rem;
    }

    .footer {
        padding: 2rem 0;
    }
}